<div class="container about">
    <div class="content">
        <h1 class="text-center my-5 about-title">Alejandro Soto</h1>

        <p class="about-content">
            I'm a self-taught front-end developer and gamedesigner. I research and learn everyday. my goals are: improve
            my skills as software developer and be better than I was as person as programmer. Next technologies I'm
            interested in: Backend technology with MEAN stack, React and VUE.
        </p>
    </div>

</div>
<app-contact></app-contact>